* {
    margin: 0;
    padding: 0;
  }

.body {
    background: #d8e8e8;
    width: 100%;
}

.company-info {
    max-width: 100%;
    width: 100%;
    height: 30%;
    font-family: 'Gilroy', sans-serif;
    background-color: #2d3a56; 
    display: flex;
}

.image {
    vertical-align: middle;
    padding: 15px 20px 15px 30px;
    
}

img {
    width: 170px;
}

.info {
    padding: 15px 30px 15px 0px;
}

h1 {
    font-size: 2.7em;
    color: #e2474b;
}

p {
    font-size: 0.9em;
    color: white;
}