.start-date-label{
    margin-right: 10px;
}

.start-date{
    margin-right: 300px;
}

.dropbtn {
    background-color: #2d3a56;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2d3a56;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dark-bg{
    background-color: #2d3a56;
  }
  .dark-bg:hover{
    background-color: #4d628f;
  }
  
  .dropdown-content button {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100% !important;
  }
  
  .dropdown-content button:hover {background-color: #2d3a56;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #1f273a;}

  .row{
      margin-top: 75px;
  }

  .section{
      width: 400px;
      height: 225px;
      border-radius: 25px;
      padding: 30px;
      padding-left: 70px;
  }

  .section1{
    background-color: #FF0018;
  }

  .section2{
    background-color: #FFFF41;
  }

  .section3{
    background-color: #0000F9;
  }

  .section4{
    background-color: #86007D;
  }

  .margin-right-75{
      margin-right: 75px;
  }

  .margin-right-25{
    margin-right: 25px;
}

  .margin-top-25{
    margin-top: 25px;
}

  .margin-bottom{
    margin-bottom: 50px;
}

.title{
    color: white;
    font-size: 40px;
    margin-bottom: 100px;
}

.cost{
    color: white;
    font-size: 50px;

}