.react-daypicker-root {
  padding: 10px;
  width: 100%; }
  .react-daypicker-root abbr {
    border-bottom: 0;
    text-decoration: none; }
  .react-daypicker-root th,
  .react-daypicker-root td {
    padding: 5px;
    text-align: center;
    background-color:rgb(255, 255, 255) ;
    width: 40px; 
    border: 1px solid;
  }
  .react-daypicker-root td:empty {
      padding: 5px;
      text-align: center;
      background-color:rgb(255, 255, 255) ;
      width: 40px; }  
  .react-daypicker-root .header {
    display: flex;
    flex-direction: row; }
  .react-daypicker-root .previous-month,
  .react-daypicker-root .next-month {
    color: #9b9b9b;
    cursor: pointer;
    padding: 5px;
    user-select: none;
    width: 40px; }
    .react-daypicker-root .previous-month:hover,
    .react-daypicker-root .next-month:hover {
      color: #000; }
  .react-daypicker-root .next-month {
    text-align: right; }
  .react-daypicker-root .month-year {
    flex: 2;
    font-weight: bold;
    text-align: center; }
  .react-daypicker-root .day {
    padding: 10px !important;
    vertical-align: baseline; 
  }
  .react-daypicker-root .day:hover:not(.empty) {
      background-color: rgb(255, 255, 255); }
  .react-daypicker-root .day.active {
      background-color: #ddd; }
  .react-daypicker-root .day.empty {
      cursor: default; }
  .react-daypicker-root .day.today {
      background-color: bisque;
    }

      table {
width: 100vw;
height: 75vh;
}