.button-design {
    cursor: pointer; 
    width:120px;
    height:1.7em;
    font-size:1.6em;
    font-family: 'Gilroy', sans-serif;
    border-radius: 10px;
    color: white;
    background:#e2474b;
    border:solid 1px #e2474b;
    margin-top:20px;
    margin:auto;
  display:block;
}

.pretty-input {
    width: 95%;
    height: 35px;
    border-radius: 8px;
    border: 1px white;
    padding: 0 10px;
}

.text-size {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}