.meeting-div{
    padding:20px;
    margin-left:auto;
    margin-right:auto;
    height:500px;
    max-width:calc(var(--size-form-register) / 1.5);
    width:35vw;
    border-radius: 25px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content:center; */
    background:#406d96;
    box-shadow: 0px 0px 18px -2px rgba(0,0,0,0.39);
}

.meeting-form{  
    width:100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    /* align-items:center; */

}

.container-meeting{
    display:flex;
    flex-direction: column;
    width:100vw;
    height:100vh;
    margin-left:auto;
    margin-right:auto;
}

.meeting-form label input{
    max-width:calc(var(--size-form-meeting) / 1.6);  
    margin:10px;
    padding:5px;
    border: 1px solid rgb(255, 255, 255);
   border-radius: 8px;
   font-size:1em;
   
}
button[type=submit]{   
    cursor: pointer; 
    width:120px;
    height:1.7em;
    font-size:1.6em;
    font-family: 'Gilroy', sans-serif;
    border-radius: 10px;
    color: white;
    background:#e2474b;
    border:solid 1px #e2474b;
    margin-top:20px;
    margin:auto;
  display:block;

}

.meeting-form label input{
    max-width:calc(var(--size-form-register) / 3.3);
    width:30vw;
    /* margin-left: -5px;
    margin-right: -5px;    */
    margin-top: 10px !important;
    margin:auto;
  display:block;
}

body{
   margin:0;
   padding:0;
   font-family: 'Gilroy', sans-serif;
   
}
button[type="submit"]:hover{
    box-shadow: 0px 0px 12px 3px rgba(206, 53, 53, 0.62);
}

.text-color {
    color: white;
}

.meeting-time-box{
    padding-left: 18px;
    font-size: 1.2em;
}

.text-size {
    font-size: 1.2em;
    padding-left: 18px;
}

.date .time {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: baseline;
}

.notes {
    height: 110px;
    border-radius: 8px;
}

.style {
    margin-top: -15px;
}

.myCheckbox {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    /* justify-content: flex-end; */
    width:120px;
    height:30px;
    margin:0px 0 20px 22vw ;
    padding:5px;
    /* margin-left: 22vw;
   margin-right: 0; */
   font-size:0.9em;
}

input[type=checkbox] {
    height: 20px;
}

.meeting-name {
    height: 30px !important;
}

.hours {
    border-radius: 7px;
    border: 1px white;
    width: 5vw;
    height: 25px;
    padding-left: 5px;
}

.date-box {
    border-radius: 6px;
    border: 1px white;
}